@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
.sidenav-container {
  height: 100%;;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar {
  color: #00ffff;
  background-color: #424242;
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  letter-spacing: 1px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
