<div class="table-responsive comments">
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Post Id</th>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let comment of comment$ | async">
        <td>{{ comment.id }}</td>
        <td>{{ comment.postId }}</td>
        <td>{{ comment.name }}</td>
        <td>{{ comment.email }}</td>
      </tr>
    </tbody>
  </table>
</div>
